doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(name='description', content='')
		meta(name='author', content='')
		meta(name="keywords" content="Silan He, Resume")
		title Silan He
		// Bootstrap Core CSS
		link(href='stylesheets/bootstrap.min.css', rel='stylesheet')
		// Custom CSS
		link(href='stylesheets/scrolling-nav.css', rel='stylesheet')
		// HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
		// WARNING: Respond.js doesn't work if you view the page via file://
		//if lt IE 9
			script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
			script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
	// The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function
	body#page-top(data-spy='scroll', data-target='.navbar-fixed-top')
		// Navigation
		nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
			.container
				.navbar-header.page-scroll
					button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
						span.sr-only Toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand.page-scroll(href='#page-top') SilanHe.me
				// Collect the nav links, forms, and other content for toggling
				.collapse.navbar-collapse.navbar-ex1-collapse
					ul.nav.navbar-nav
						//Hidden li included to remove active class from about link when scrolled up past about section
						li.hidden
							a.page-scroll(href='#page-top')
						li
							a.page-scroll(href='#about')  About
						li
							a.page-scroll(href='#experience') Experience
						li
							a.page-scroll(href='#education') Education
						li
							a.page-scroll(href='#projects') Projects
						li
							a.page-scroll(href='#abilities') Abilities
						li
							a.page-scroll(href='#contact') Contact
				// /.navbar-collapse
			// /.container
		// Intro Section
		section#intro.intro-section
				.container
					br
					h1 Silan He
					h6 Personal Website
		// About Section
		section#about.about-section
			.container
				.row
					.background-white
						#profile.container
							h2 Profile
							p.lead I am an aspiring software developer looking for a summer/fall internship.
							hr
							.row
								.col-md-4
									h3 About me
									p
										| I am a computer science student at McGill University, class of 2019. 
									p
										| I am addicted to the satisfying feeling from getting my code to work and always look forward to learning new technologies.
								.col-md-4
									img(src='images/scottie-round.png', alt='Silan He', width='246', height='246')
								.col-md-4
									h3 Details
									p
										strong Name:
										br
										| 			Silan He
										br
										strong Age:
										br
										| 			20 years old
										br
										strong Location:
										br
										| 			Montreal,Canada,Earth
		// Experience Section
		section#experience.experience-section
			.container
				.row
					.col-lg-12
						h2 Experience
						hr
						h3 Work Experience
					.experiences
						.experience.row
							.col-md-4
								h4 MindGeek
								p.experience-period
									| May 2017				-
									| August 2017
							.col-md-8
								strong Full-time - Engineering Intern
								p.hidden-phone
									| Full Stack developer internship at MindGeek, leaders in highly trafficked websites
								ul.no-bullets
									li 
										p Built, deployed and demoed web apps for AngularJs and Spring RESTful API
									li 
										p Developed and optimized search capabilities on adultforce.com
									li 
										p Successfully built and deployed website checkup application that runs daily for all MindGeek affiliated websites via Jenkins
									li
										span.box Java
										span.box Spring
										span.box Javascript
										span.box Angular Js
										span.box MySQL
										span.box Jenkins
										span.box Node
										span.box Docker

								p.experience-details
								span.location
									span.glyphicon.glyphicon-map-marker
									| 	Montreal,Canada,Earth
								span.seperator |
								span.link
									span.glyphicon.glyphicon-link
									a(href='https://mindgeek.com', target='_blank') http://mindgeek.com
						br
						.experience.row
							.col-md-4
								h4 Guiker
								p.experience-period
									| April 2016				-
									| August 2016
							.col-md-8
								strong Full-time - Mobile Development Intern
								p.hidden-phone
									| Internship at a startup called Guiker that is an online platform for renting apartments.
								ul.no-bullets
									li
										p Built and deployed Java and iOS mobile application using Xamarin for the Guiker mobile platform as part of our internship project
									li
										p Built whole functional frontend in less than 8 weeks
									li
										p Setup and deployed MySQL and Ruby on Rails RESTful API
									li
										span.box C#
										span.box Xamarin
										span.box objective c
										span.box Java
										span.box MySQL
										span.box Rails
										span.box Ruby

								p.experience-details
								span.location
									span.glyphicon.glyphicon-map-marker
									| 	Downtown Montreal,Canada,Earth
								span.seperator |
								span.link
									span.glyphicon.glyphicon-link
									a(href='https://guiker.com', target='_blank') http://guiker.com
						hr
					.col-lg-12
						h3 Hackathons
					.experiences
						.experience.row
							.col-md-4
								h4 YHacks
								p.experience-period
									| December 2017
							.col-md-8
								strong Villains be Gone : data analysis challenge
								p.experience-details
								span.location
									span.glyphicon.glyphicon-map-marker
									| 	Yale University,New Haven,USA,Earth
						.experience.row
							.col-md-4
								h4 Hackatown
								p.experience-period
									| February 2017
							.col-md-8
								strong STMieux : crowd based public transit stats and trends with nlu
								p.experience-details
								span.location
									span.glyphicon.glyphicon-map-marker
									| 	École Polytechnique de Montréal,Montreal,Canada,Earth
						.experience.row
							.col-md-4
								h4 HackMcGill
								p.experience-period
									| January 2017
							.col-md-8
								strong i missed a bus and sorting website
								p.experience-details
								span.location
									span.glyphicon.glyphicon-map-marker
									| 	McGill University,Montreal,Canada,Earth
						.experience.row
							.col-md-4
								h4 HackHarvard
								p.experience-period
									| October 2016
							.col-md-8
								strong Comtemporary version of Atari's classic Missile Command
								p.experience-details
								span.location
									span.glyphicon.glyphicon-map-marker
									| 	Harvard University,Cambridge,USA,Earth
						.experience.row
							.col-md-4
								h4 HackCooper
								p.experience-period
									| September 2016
							.col-md-8
								strong WhosOnBreak multi-platform mobile social application
								p.experience-details
								span.location
									span.glyphicon.glyphicon-map-marker
									| 	Cooper Union,New York,USA,Earth
						.experience.row
							.col-md-4
								h4 VR Hackathon
								p.experience-period
									| September 2016
							.col-md-8
								strong Unity Workshop for VR, VR test-run
								p.experience-details
								span.location
									span.glyphicon.glyphicon-map-marker
									| 	Downtown Montreal,Canada,Earth
						.experience.row
							.col-md-4
								h4 McHacks
								p.experience-period
									| February 2016
							.col-md-8
								strong Daily Calorie Counter App
								p.experience-details
									span.location
										span.glyphicon.glyphicon-map-marker
										| 	McGill University,Montreal,Canada,Earth

		section.image2
		// Education section
		section#education.education-section
			.container
				.row
					.col-lg-12
						h2 Education
						hr
					.experiences
						.experience.row
							.col-md-4
								h4 McGill University
								p.experience-period
									| Sept 2016				-
									| Current
							.col-md-8
								strong Full-time - Bachelor of Computer Science
								p
									| McGill University is an English-language public research university in Montreal, Quebec, Canada, ranked among the world's top 30 institutions. With some 300 buildings, 40,000 students, 250,000 living alumni, and a reputation for excellence that reaches around the globe, McGill has carved out a spot among the world's greatest universities.
								ul.no-bullets
									.italics Relevant Courses
									li ECSE202: Introdution to Software Engineering
									li COMP250: Algorithms and Data Structures I
									li COMP251: Algorithms and Data Structures II
									li COMP206: Introduction to Software Systems
									li COMP273: Introduction to Computer Systems
									li COMP302: Programming Languages and Paradigms
									li COMP303: Software Design
									li COMP310: Operating Systems
									li COMP521: Modern Computer Games
								ul.no-bullets
									.italics Currently taking:
									li COMP 421: Database Systems
									li COMP 551: Applied Machine Learning
									li COMp 535: Computer Networks
								p.experience-details
									span.location
										span.glyphicon.glyphicon-map-marker
										| Downtown Montreal,Canada,Earth
									span.seperator |
									span.link
										span.glyphicon.glyphicon-link
										a(href='//www.mcgill.ca', target='_blank') mcgill.ca
						br
						.experience.row
							.col-md-4
								h4 Marianopolis College
								p.experience-period
									| Sept 2014				-
									| May 2016
							.col-md-8
								strong Full-time - DEC Pure and Applied Sciences
								p
									| Recognized as one of Quebec’s top pre-university colleges, Marianopolis College boasts a diverse student body comprised of 2,000 students from over 175 public and private high schools, English and French, from Quebec and abroad.
								p.experience-details
									span.location
										span.glyphicon.glyphicon-map-marker
										| 						Westmount,Canada,Earth
									span.seperator |
									span.link
										span.glyphicon.glyphicon-link
										a(href='//www.marianopolis.edu', target='_blank') marianopolis.edu
						br
						.experience.row
							.col-md-4
								h4 College Beaubois
								p.experience-period
									| Sept 2009				-
									| May 2014
							.col-md-8
								strong Full-time - Highschool diploma
								p
									| One of the top private French highschool in the Greater Montreal area.
								p.experience-details
									span.location
										span.glyphicon.glyphicon-map-marker
										| 						Pierrefonds,Montreal,Canada,Earth
									span.seperator |
									span.link
										span.glyphicon.glyphicon-link
										a(href='//www.collegebeaubois.qc.ca', target='_blank') collegebeaubois.qc.ca
		//Projects section
		section#projects.projects-section
			.container
				.row
					.col-lg-12
						h2 Projects
						hr
						.projects
							.project-wrapper
								h4
									a(href='https://github.com/Edward-Son/yhack2017', target='_blank') Villains be Gone
								.project-content
									p Won the FINRA-sponsored data challenge with our analysis using Scikit’s support vector machine and entity resolution for additional insight.
									span Python
									span JavaScript
									span Angular 4
									span Node.js
									span BootStrap
							.project-wrapper
								h4
									a(href='https://github.com/SilanHe/2D-Collision-Game', target='_blank') 2D Physics Engine Game
								.project-content
									p 2D fish game with a personal implementation of a physics engine.
									span C#
									span Unity
							.project-wrapper
								h4
									a(href='https://github.com/SilanHe/Silvers-Algorithm', target='_blank') Silvers Algorithm Simulation
								.project-content
									p Shopping mall simulation implementing silvers scheduling algorithm.
									span C#
									span Unity
							.project-wrapper
								h4
									a(href='https://github.com/SilanHe/Hackatown-2017', target='_blank') STMieux
								.project-content
									p Crowd based nlu public transit stats and trend app
									span JavaScript
									span Node.js
									span JQuery
									span Nuance mix
									span React
									span MongoDB
									span BootStrap
							.project-wrapper
								h4
									a(href='https://github.com/SilanHe/imissedabus', target='_blank') i missed a bus
								.project-content
									p social site for people who miss buses to wallow in sadness together
									span JavaScript
									span Node.js
									span JQuery
									span React
									span MongoDB
									span BootStrap
							.project-wrapper
								h4
									a(href='https://github.com/SilanHe/onepagesite', target='_blank') This website
								.project-content
									p My personal one pager website.
									span JavaScript
									span Node.js
									span JQuery
									span BootStrap
							.project-wrapper
								h4
									a(href='https://github.com/micklethepickle/HackCooper', target='_blank') WhosOnBreak
								.project-content
									p Schedule/Social app for the busy. Functions include: making your own schedule, comparing with other users, adding friends, hitting other people up to chill on common breaks.
									span Xamarin
									span MongoDB
									span Node.js
							.project-wrapper
								h4
									a(href='https://github.com/SilanHe/PineappleProgramsSite', target='_blank') Pineapple Programs Company Site
								.project-content
									p Website showing off a mock company as well as animations and an email feature.
									span Node.js
									span JQuery
							.project-wrapper
								h4
									a(href='https://github.com/micklethepickle/wheredoiapply', target='_blank') Where Do I Apply
								.project-content
									p A website developed for the sake of aiding students from Quebec with their University applications, by telling them where they can apply to with their current R-Score.
									span JavaScript
									span Node.js
									span MongoDB
		// Abilities Section
		section.image1
		section#abilities.abilities-section
			.container
				.row
					.col-lg-12
						h2 Abilities
						p.center "Everything is relative."- My Grade 10 English teacher
						hr
						h3 Skills
						br
					.col-md-6
						ul.no-bullets
							li
								span.ability-title C#
								span.ability-score
									span.glyphicon.glyphicon-star.filled
									span.glyphicon.glyphicon-star.filled
									span.glyphicon.glyphicon-star.filled
									span.glyphicon.glyphicon-star.filled
									span.glyphicon.glyphicon-star.filled
							li
								span.ability-title Java
								span.ability-score
									span.glyphicon.glyphicon-star.filled
									span.glyphicon.glyphicon-star.filled
									span.glyphicon.glyphicon-star.filled
									span.glyphicon.glyphicon-star.filled
									span.glyphicon.glyphicon-star.filled
							li
								span.ability-title .NET Framework
								span.ability-score
									span.glyphicon.glyphicon-star
									span.glyphicon.glyphicon-star.filled
									span.glyphicon.glyphicon-star.filled
									span.glyphicon.glyphicon-star.filled
									span.glyphicon.glyphicon-star.filled
							li
								span.ability-title Spring
								span.ability-score
									span.glyphicon.glyphicon-star
									span.glyphicon.glyphicon-star.filled
									span.glyphicon.glyphicon-star.filled
									span.glyphicon.glyphicon-star.filled
									span.glyphicon.glyphicon-star.filled
							li
								span.ability-title Angular Js
								span.ability-score
									span.glyphicon.glyphicon-star
									span.glyphicon.glyphicon-star.filled
									span.glyphicon.glyphicon-star.filled
									span.glyphicon.glyphicon-star.filled
									span.glyphicon.glyphicon-star.filled
							li
								span.ability-title Python
								span.ability-score
									span.glyphicon.glyphicon-star
									span.glyphicon.glyphicon-star.filled
									span.glyphicon.glyphicon-star.filled
									span.glyphicon.glyphicon-star.filled
									span.glyphicon.glyphicon-star.filled
							li
								span.ability-title React
								span.ability-score
									span.glyphicon.glyphicon-star
									span.glyphicon.glyphicon-star.filled
									span.glyphicon.glyphicon-star.filled
									span.glyphicon.glyphicon-star.filled
									span.glyphicon.glyphicon-star.filled
							li
								span.ability-title CSS
								span.ability-score
									span.glyphicon.glyphicon-star
									span.glyphicon.glyphicon-star.filled
									span.glyphicon.glyphicon-star.filled
									span.glyphicon.glyphicon-star.filled
									span.glyphicon.glyphicon-star.filled
							li
								span.ability-title HTML
								span.ability-score
									span.glyphicon.glyphicon-star
									span.glyphicon.glyphicon-star.filled
									span.glyphicon.glyphicon-star.filled
									span.glyphicon.glyphicon-star.filled
									span.glyphicon.glyphicon-star.filled
							li
								span.ability-title PostgreSQL
								span.ability-score
									span.glyphicon.glyphicon-star
									span.glyphicon.glyphicon-star.filled
									span.glyphicon.glyphicon-star.filled
									span.glyphicon.glyphicon-star.filled
									span.glyphicon.glyphicon-star.filled
							li
								span.ability-title MySQL
								span.ability-score
									span.glyphicon.glyphicon-star
									span.glyphicon.glyphicon-star.filled
									span.glyphicon.glyphicon-star.filled
									span.glyphicon.glyphicon-star.filled
									span.glyphicon.glyphicon-star.filled
					.col-md-6
						ul.no-bullets
							li
								span.ability-title Object Oriented Programming
								span.ability-score
									span.glyphicon.glyphicon-star
									span.glyphicon.glyphicon-star.filled
									span.glyphicon.glyphicon-star.filled
									span.glyphicon.glyphicon-star.filled
									span.glyphicon.glyphicon-star.filled
							li
								span.ability-title MVVM
								span.ability-score
									span.glyphicon.glyphicon-star
									span.glyphicon.glyphicon-star.filled
									span.glyphicon.glyphicon-star.filled
									span.glyphicon.glyphicon-star.filled
									span.glyphicon.glyphicon-star.filled
							li
								span.ability-title Javascript
								span.ability-score
									span.glyphicon.glyphicon-star
									span.glyphicon.glyphicon-star.filled
									span.glyphicon.glyphicon-star.filled
									span.glyphicon.glyphicon-star.filled
									span.glyphicon.glyphicon-star.filled
							li
								span.ability-title Unix
								span.ability-score
									span.glyphicon.glyphicon-star
									span.glyphicon.glyphicon-star.filled
									span.glyphicon.glyphicon-star.filled
									span.glyphicon.glyphicon-star.filled
									span.glyphicon.glyphicon-star.filled
							li
								span.ability-title Windows
								span.ability-score
									span.glyphicon.glyphicon-star
									span.glyphicon.glyphicon-star.filled
									span.glyphicon.glyphicon-star.filled
									span.glyphicon.glyphicon-star.filled
									span.glyphicon.glyphicon-star.filled
							li
								span.ability-title Git
								span.ability-score
									span.glyphicon.glyphicon-star
									span.glyphicon.glyphicon-star
									span.glyphicon.glyphicon-star.filled
									span.glyphicon.glyphicon-star.filled
									span.glyphicon.glyphicon-star.filled
							li
								span.ability-title OCaml
								span.ability-score
									span.glyphicon.glyphicon-star
									span.glyphicon.glyphicon-star
									span.glyphicon.glyphicon-star.filled
									span.glyphicon.glyphicon-star.filled
									span.glyphicon.glyphicon-star.filled
							li
								span.ability-title Bash
								span.ability-score
									span.glyphicon.glyphicon-star
									span.glyphicon.glyphicon-star
									span.glyphicon.glyphicon-star.filled
									span.glyphicon.glyphicon-star.filled
									span.glyphicon.glyphicon-star.filled
							
							li
								span.ability-title Xojo
								span.ability-score
									span.glyphicon.glyphicon-star
									span.glyphicon.glyphicon-star
									span.glyphicon.glyphicon-star.filled
									span.glyphicon.glyphicon-star.filled
									span.glyphicon.glyphicon-star.filled
							
							li
								span.ability-title Ruby
								span.ability-score
									span.glyphicon.glyphicon-star
									span.glyphicon.glyphicon-star
									span.glyphicon.glyphicon-star
									span.glyphicon.glyphicon-star.filled
									span.glyphicon.glyphicon-star.filled
					.col-lg-12
							hr
							h3 Languages
							br
						.col-md-6
							ul.no-bullets
								li
									span.ability-title English - Mother Tongue
									span.ability-score
										span.glyphicon.glyphicon-star.filled
										span.glyphicon.glyphicon-star.filled
										span.glyphicon.glyphicon-star.filled
										span.glyphicon.glyphicon-star.filled
										span.glyphicon.glyphicon-star.filled
								li
									span.ability-title French - Un peu Québécois
									span.ability-score
										span.glyphicon.glyphicon-star
										span.glyphicon.glyphicon-star.filled
										span.glyphicon.glyphicon-star.filled
										span.glyphicon.glyphicon-star.filled
										span.glyphicon.glyphicon-star.filled
						.col-md-6
							ul.no-bullets
								li
									span.ability-title Chinese - Kěyǐ jiǎng
									span.ability-score
										span.glyphicon.glyphicon-star
										span.glyphicon.glyphicon-star
										span.glyphicon.glyphicon-star.filled
										span.glyphicon.glyphicon-star.filled
										span.glyphicon.glyphicon-star.filled
								li
									span.ability-title Spanish - Soy Silan
									span.ability-score
										span.glyphicon.glyphicon-star
										span.glyphicon.glyphicon-star
										span.glyphicon.glyphicon-star
										span.glyphicon.glyphicon-star
										span.glyphicon.glyphicon-star.filled
		// Contact Section
		section.image4
		section#contact.contact-section
			.container
				.row
					.col-lg-12
						h5.center Contact
						hr
				.row
					.col-lg-12
						.row
							.col-lg-3
							.col-lg-3
								span.contact-icon.glyphicon.glyphicon-cloud
							.col-lg-3
								p Github
								a(href='https://github.com/SilanHe', target='_blank')
									| 	https://github.com/SilanHe
							.col-lg-3
						hr
						.row
							.col-lg-3
							.col-lg-3
								span.contact-icon.glyphicon.glyphicon-briefcase
							.col-lg-3
								p LinkedIn
								a(href='https://www.linkedin.com/in/silan-he/', target='_blank')
									| 	https://www.linkedin.com/in/silan-he
							.col-lg-3
						hr
						.row
							.col-lg-3
							.col-lg-3
								span.contact-icon.glyphicon.glyphicon-envelope
							.col-lg-3
								p Email
								a(href='mailto:silan.he@mail.mcgill.ca')
									span(style='unicode-bidi:bidi-override; direction: rtl;')
										| ac.lligcm.liam@eh.nalis
							.col-lg-3
						hr
						.row
							.col-lg-3
							.col-lg-3
								span.contact-icon.glyphicon.glyphicon-phone-alt
							.col-lg-3
								p Cell Phone
								a(href='438-395-9750', target='blank')
									|	438-395-9750
							.col-lg-3

		// jQuery
		script(src='javascripts/jquery.js')
		// Bootstrap Core JavaScript
		script(src='javascripts/bootstrap.min.js')
		// Scrolling Nav JavaScript
		script(src='javascripts/jquery.easing.min.js')
		script(src='javascripts/scrolling-nav.js')
	script.
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
		ga('create', 'UA-89990444-1', 'auto');
		ga('send', 'pageview');